html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}
p {
  color: pink;
}
h1 {
  font-size: 45px;
}
.App {
  width: 100vw;
  height: 100vh;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.input-group {
  width: 100%;
}
.form-control {
  color: white !important;
}
placeholder {
  color: white;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}
.movie-info {
  margin-top: 15vh;
}
.poster {
  width: 100%;
  height: 100%;
}
.suggest-list {
  z-index: 999;
}
.header {
  position: absolute;
  width: 77%;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  left: 0;
  right: 0;
  .search-bar-div {
    width: 100%;
  }
  button {
    color: white;
    background-image: none !important;
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    border-color: white;
    border-width: 1px;
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: #05b3ff;
    color: #05b3ff;
  }
}
.suggest-item {
  color: #fff;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}
.suggest-item:hover {
  color: #000;
  background-color: #05b3ff;
}
.info-container {
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  h1 {
    margin-bottom: 7%;
    color: white;
    text-align: left;
  }
  .border {
    margin-bottom: 7%;
    border-bottom: 2px solid #05b3ff;
    width: 100%;
  }
  p {
    color: white;
    font-size: 15px;
    text-align: left;
  }
  h2 {
    margin-bottom: 20%;
    color: #05b3ff;
    text-align: left;
  }
  h4 {
    margin: 0;
    margin-top: 20%;
    color: white;
    text-align: left;
  }
  h3 {
    margin: 0;
    margin-bottom: 20%;
    color: #05b3ff;
    text-align: left;
  }
  img {
    margin-bottom: 5%;
  }
  button {
    margin-top: 25%;
    border-radius: 100%;
  }
}
.form-control {
  background-color: transparent;
  border-color: white;
}

/* The container */
.container {
  margin-top: 25%;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 90%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item-holder {
  margin-left: 10%;
  margin-right: 10%;
}

.page-container {
  margin-top: 50px;
  .border {
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 3%;
    border-bottom: 2px solid #05b3ff;
    width: 20%;
  }
}

.library-item {
  .border {
    margin-top: 3%;
    margin-bottom: 3%;
    border-bottom: 2px solid #05b3ff;
    width: 100%;
  }
  p {
    word-wrap: break-word;
    color: white;
  }
  .info-container {
    height: 30vh;
    overflow-y: scroll;
  }
  h3 {
    color: white;
  }
}

.library {
  height: 100vh;
  background-color: black;
  h1 {
    color: white;
  }
}

.library-item-container {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.rating {
  margin-top: 20px;
  h4 {
    margin-left: 30px;
    color: white;
    display: inline;
  }
}

.search-btn-div {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  button {
    color: white;
    background-image: none !important;
    width: 50%;
    background-color: transparent;
    border-radius: 0;
    border-color: white;
    border-width: 1px;
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: #05b3ff;
    color: #05b3ff;
  }
}

/* CodePen demo */
body {
  background: #2a2a2b;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: 0.7em;
}

.square {
  width: 0.7em;
  height: 0.7em;
  margin: 0.5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #05b3ff;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: '';
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: '\25BC';
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #05b3ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
